@media only screen and (max-width: 480px) {
    body {
        background-color: #fff;
        padding: 0;
        margin: 0;
    }
    .header {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 60px;
        text-align: center;
    }
    .logo1 {
        position: relative;
        width: 115px;
        height: 45px;
        top: 6px;
        display: inline-block;
    }
    .navbardiv {
        margin-top: -17px;
        width: 100%;
        height: 40px;
        background-color: #A9A9A9;
        font-family: tahoma;
    }
    ul {
        width: 100%;
        margin-left: -40px;
        position: relative;
    }
    li {
        float: left;
        list-style: none;
        text-align: center;
        background-color: #000000;
        width: 25%;
        line-height: 33px;
    }
    li a span {
        display: none;
    }
    .Araz:hover {
        text-decoration: none;
        color: #000000;
        background-color: #f9fffc;
        transition: 0.5s;
        box-shadow: 0px 0px 10px #000000;
    }
    .Acena:hover {
        text-decoration: none;
        color: #000000;
        background-color: #f9fffc;
        transition: 0.5s;
        box-shadow: 0px 0px 10px #000000;
    }
    .Adis:hover {
        text-decoration: none;
        color: #000000;
        background-color: #f9fffc;
        transition: 0.5s;
        box-shadow: 0px 0px 10px #000000;
    }
    .Amom:hover {
        text-decoration: none;
        color: #000000;
        background-color: #f9fffc;
        transition: 0.5s;
        box-shadow: 0px 0px 10px #000000;
    }
    .NAVPIC {
        width: 30px;
        height: 30px;
        position: relative;
        left: 0px;
        top: 3px;
    }
}
@media only screen and (max-width: 1360px) {
    li a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
    }
}
@media only screen and (max-width: 1024px) {
    li a {
        display: block;
        border-right: hidden;
        border-left: hidden;
    }
}
@media only screen and (max-width: 1360px) {
    .Main1c {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 50%;
        height: 400px;
        -webkit-border-radius: 5px;
        position: relative;
        border: 1px #9966ff;
        top: 65px;
        left: 7%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 1024px) {
    .Main1c {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 400px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 768px) {
    .Main1c {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 300px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main1c {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 600px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 10px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main1c {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 500px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 20px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 1360px) {
    .Main1 {
        top: 40px;
        left: 40px;
        position: relative;
    }
}
@media only screen and (max-width: 1024px) {
    .Main1 {
        top: 0px;
        left: 0px;
        position: relative;
    }
}
@media only screen and (max-width: 1360px) {
    .Input-Data,
    .Output-Data {
        float: left;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 1024px) {
    .Input-Data,
    .Output-Data {
        padding-right: 0%;
        position: relative;
        left: 10%;
        top: 20px;
        width: 45%;
    }
}
@media only screen and (max-width: 768px) {
    .Input-Data,
    .Output-Data {
        padding-right: 0%;
        position: relative;
        left: 10%;
        top: 20px;
        width: 45%;
    }
}
@media only screen and (max-width: 480px) {
    .Input-Data,
    .Output-Data {
        padding-right: 0%;
        position: relative;
        left: 15%;
        top: 40px;
        width: 80%;
    }
}
@media only screen and (max-width: 480px) {
    .Input-Data,
    .Output-Data {
        padding-right: 0%;
        position: relative;
        left: 15%;
        top: 40px;
        width: 80%;
    }
    .DistancePage2 .Output-Data {
        position: relative;
        top: 60px;
    }
}
@media only screen and (max-width: 1360px) {
    .i1,
    .i2,
    .i3,
    .i4,
    .i5,
    .i6,
    .i6,
    .i8,
    select {
        border: solid black 2px;
        width: 110px;
        height: 30px;
        font-size: 20px;
        opacity: 0.7;
    }
}
@media only screen and (max-width: 1024px) {
    .i1,
    .i2,
    .i3,
    .i5,
    .i4,
    .i6,
    .i8,
    select {
        border: solid black 2px;
        width: 50%;
        height: 32px;
        font-size: 25px;
        opacity: 0.7;
    }
}
@media only screen and (max-width: 768px) {
    .i1,
    .i2,
    .i3,
    .i5,
    .i4,
    .i6,
    .i8,
    select {
        border: solid black 2px;
        width: 50%;
        height: 30px;
        font-size: 18px;
        opacity: 0.7;
    }
}
@media only screen and (max-width: 480px) {
    .i1,
    .i2,
    .i3,
    .i5,
    .i4,
    .i6,
    .i8,
    select {
        border: solid black 2px;
        width: 50%;
        height: 35px;
        font-size: 24px;
        opacity: 0.7;
    }
}
@media only screen and (max-width: 480px) {
    .i1,
    .i2,
    .i3,
    .i5,
    .i4,
    .i6,
    .i8,
    select {
        border: solid black 2px;
        width: 40%;
        height: 30px;
        font-size: 18px;
        opacity: 0.7;
        padding-left: 10px;
    }
}
.i4:focus,
.i3:focus,
.i1:focus,
.i2:focus,
.i5:focus,
.i6:focus {
    opacity: 1;
    transition-delay: 0.15s;
    outline: none !important;
}
@media only screen and (max-width: 1360px) {
    .sel {
        border: solid black 1px;
        width: 160px;
        height: 35px;
        font-size: 20px;
    }
    .sel:focus {
        outline: none;
    }
}
@media only screen and (max-width: 1024px) {
    .sel {
        border: solid black 1px;
        width: 160px;
        height: 35px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .sel {
        border: solid black 1px;
        width: 140px;
        height: 30px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 480px) {
    .sel {
        border: solid black 1px;
        width: 170px;
        height: 40px;
        font-size: 24px;
    }
}
@media only screen and (max-width: 480px) {
    .sel {
        border: solid black 1px;
        width: 140px;
        height: 30px;
        font-size: 18px;
    }
    .sel:focus {
        outline: none;
    }
}
@media only screen and (max-width: 1360px) {
    .text1,
    .text2,
    .text3,
    .text4,
    .text5 {
        font-size: 20px;
        font-family: tahoma;
        color: #fff;
    }
}
@media only screen and (max-width: 1024px) {
    .text1,
    .text2,
    .text3,
    .text4,
    .text5 {
        font-size: 25px;
        font-family: tahoma;
        color: #fff;
    }
}
@media only screen and (max-width: 768px) {
    .text1,
    .text2,
    .text3,
    .text4,
    .text5,
    .text6,
    .text7 {
        font-size: 18px;
        font-family: tahoma;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        margin-top: -10px;
    }
}
@media only screen and (max-width: 480px) {
    .text1,
    .text2,
    .text3,
    .text4,
    .text5,
    .text6,
    .text7 {
        font-size: 22px;
        font-family: tahoma;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        margin-top: -10px;
    }
}
@media only screen and (max-width: 480px) {
    .text1,
    .text2,
    .text3,
    .text4,
    .text5,
    .text6,
    .text7 {
        font-size: 18px;
        font-family: tahoma;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        margin-top: -10px;
    }
    .MainTitleOfpage {
        font-size: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        text-shadow: 1px 1px 10px #000;
        text-align: center;
        margin-bottom: -10px;
    }
}
@media only screen and (max-width: 1360px) {
    .span1 {
        font-size: 20px;
        font-family: tahoma;
        color: #fff;
    }
}
@media only screen and (max-width: 1024px) {
    .span1 {
        font-size: 20px;
        font-family: tahoma;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        margin-top: -10px;
    }
}
@media only screen and (max-width: 768px) {
    .span1 {
        font-size: 20px;
        font-family: tahoma;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        margin-top: -10px;
    }
}
@media only screen and (max-width: 480px) {
    .span1 {
        font-size: 17px;
        font-family: tahoma;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        margin-top: -10px;
    }
}
@media only screen and (max-width: 480px) {
    .span1 {
        font-size: 17px;
        font-family: tahoma;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        margin-top: -10px;
    }
}
@media only screen and (max-width: 1360px) {
    .button2 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button2:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .button2 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
        -webkit-box-shadow: inset 1 0 2px #fff;
        -moz-box-shadow: inset 1 0 2px #fff;
        box-shadow: inset 1 0 2px #fff;
    }
    .button2:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 768px) {
    .button2 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button2:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 480px) {
    .button2 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 25px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
}
@media only screen and (max-width: 480px) {
    .button2 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
}
@media only screen and (max-width: 1360px) {
    .butoniSwitch {
        position: relative;
        top: 30px;
        left: 25%;
        width: 300px;
    }
}
@media only screen and (max-width: 1024px) {
    .butoniSwitch {
        position: relative;
        top: 15px;
        left: 15%;
        width: 70%;
    }
}
@media only screen and (max-width: 1360px) {
    .switchMoney,
    .switchLiter {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        position: relative;
        width: 30%;
        height: 40px;
        border: 1px #9966ff;
        color: #fff;
        font-family: tahoma;
        font-size: 18px;
        -webkit-border-radius: 3px;
    }
}
@media only screen and (max-width: 768px) {
    .switchMoney,
    .switchLiter {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        position: relative;
        width: 48%;
        height: 40px;
        border: 1px #9966ff;
        color: #fff;
        font-family: tahoma;
        font-size: 18px;
        -webkit-border-radius: 3px;
    }
}
@media only screen and (max-width: 480px) {
    .switchMoney,
    .switchLiter {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        position: relative;
        width: 48%;
        height: 40px;
        border: 1px #9966ff;
        color: #fff;
        font-family: tahoma;
        font-size: 16px;
        -webkit-border-radius: 3px;
    }
}
@media only screen and (max-width: 480px) {
    .switchMoney,
    .switchLiter {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        position: relative;
        width: 48%;
        height: 40px;
        border: 1px #9966ff;
        color: #fff;
        font-family: tahoma;
        font-size: 18px;
        -webkit-border-radius: 3px;
    }
}
.switchMoney:hover,
.switchLiter:hover {
    box-shadow: 0px 0px 10px #000000;
    transition: 0.2s;
}
.switchMoney:focus,
.switchLiter:focus {
    outline: none !important;
}
@media only screen and (max-width: 1360px) {
    .deepShadowForButtonSwitch {
        box-shadow: 0px 0px 6px #000000;
        position: relative;
        top: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .deepShadowForButtonSwitch {
        top: 7px;
    }
}
@media only screen and (max-width: 768px) {
    .deepShadowForButtonSwitch {
        top: 5px;
    }
}
@media only screen and (max-width: 480px) {
    .deepShadowForButtonSwitch {
        top: 2px;
    }
}
@media only screen and (max-width: 480px) {
    .deepShadowForButtonSwitch {
        top: 3px;
    }
}
@media only screen and (max-width: 1360px) {
    .Main11 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 50%;
        height: 300px;
        -webkit-border-radius: 5px;
        position: relative;
        border: 1px #9966ff;
        top: 65px;
        left: 7%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 1024px) {
    .Main11 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 400px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 768px) {
    .Main11 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 300px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main11 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 500px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main11 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 480px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 1360px) {
    .Main12 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 50%;
        height: 300px;
        -webkit-border-radius: 5px;
        position: relative;
        border: 1px #9966ff;
        top: 65px;
        left: 7%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 1024px) {
    .Main12 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 400px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 768px) {
    .Main12 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 300px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main12 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 500px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main12 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 500px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 1360px) {
    .button21 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button21:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .button21 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button21:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 768px) {
    .button21 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button21:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 480px) {
    .button21 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 25px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button21:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 480px) {
    .button21 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button21:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 1360px) {
    .button22 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button22:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 1024px) {
    .button22 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button22:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 768px) {
    .button22 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button22:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 480px) {
    .button22 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 25px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button22:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 480px) {
    .button22 {
        background-color: #7cb7ab;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #000;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 16px;
        padding: 11px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
    }
    .button22:focus {
        outline: none !important;
    }
}
@media only screen and (max-width: 1360px) {
    .Main1c4 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 50%;
        height: 400px;
        -webkit-border-radius: 5px;
        position: relative;
        border: 1px #9966ff;
        top: 65px;
        left: 7%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 1024px) {
    .Main1c4 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 400px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 768px) {
    .Main1c4 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 300px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 30px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main1c4 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 600px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 10px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
}
@media only screen and (max-width: 480px) {
    .Main1c4 {
        background-image: -ms-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -moz-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -o-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2F4F4F), color-stop(100, #2F2727));
        background-image: -webkit-linear-gradient(bottom, #2F4F4F 0%, #2F2727 100%);
        background-image: linear-gradient(to top, #2F4F4F 0%, #2F2727 100%);
        width: 100%;
        height: 770px;
        -webkit-border-radius: 0px;
        position: relative;
        border: 1px #9966ff;
        top: 10px;
        left: 0%;
        box-shadow: 0px 0px 10px #000000;
    }
    .Main1c4 .Output-Data {
        position: relative;
        top: 65px;
    }
}
@media only screen and (max-width: 1360px) {
    .Main1 {
        top: 40px;
        left: 40px;
        position: relative;
    }
}
@media only screen and (max-width: 1024px) {
    .Main1 {
        top: 0px;
        left: 0px;
        position: relative;
    }
}
@media only screen and (max-width: 1360px) {
    footer {
        width: 100%;
        display: inline-block;
        background-color: #2F2727;
        height: 40px;
        position: fixed;
        bottom: -10px;
        padding-top: 25px;
        border-top: 2px solid black;
    }
}
@media only screen and (max-width: 1024px) {
    footer {
        width: 100%;
        display: inline-block;
        background-color: #2F2727;
        height: 55px;
        position: relative;
        bottom: -10px;
        padding-top: 25px;
        border-top: 2px solid black;
    }
}
@media only screen and (max-width: 768px) {
    footer {
        width: 100%;
        display: inline-block;
        background-color: #2F2727;
        height: 55px;
        position: relative;
        bottom: -10px;
        padding-top: 25px;
        border-top: 2px solid black;
    }
}
@media only screen and (max-width: 480px) {
    footer {
        width: 100%;
        display: inline-block;
        background-color: #2F2727;
        height: 55px;
        position: relative;
        bottom: -10px;
        padding-top: 25px;
        border-top: 2px solid black;
    }
}
@media only screen and (max-width: 480px) {
    footer {
        width: 100%;
        display: inline-block;
        background-color: #2F2727;
        height: 55px;
        position: relative;
        bottom: -10px;
        padding-top: 25px;
        border-top: 2px solid black;
    }
}
@media only screen and (max-width: 1360px) {
    footer .copy {
        display: inline-block;
        position: relative;
        left: 5px;
    }
}
@media only screen and (max-width: 1024px) {
    footer .copy {
        display: inline-block;
        position: relative;
        left: 5px;
    }
}
@media only screen and (max-width: 768px) {
    footer .copy {
        display: inline-block;
        position: relative;
        left: 5px;
    }
}
@media only screen and (max-width: 480px) {
    footer .copy {
        display: inline-block;
        position: relative;
        left: 5px;
    }
}
@media only screen and (max-width: 480px) {
    footer .copy {
        display: inline-block;
        position: relative;
        left: 5px;
    }
}
@media only screen and (max-width: 1360px) {
    footer .phone {
        display: inline-block;
        float: right;
        right: 5px;
        position: relative;
    }
}
@media only screen and (max-width: 1024px) {
    footer .phone {
        display: inline-block;
        float: right;
        right: 5px;
        position: relative;
    }
}
@media only screen and (max-width: 768px) {
    footer .phone {
        display: inline-block;
        float: right;
        right: 5px;
        position: relative;
    }
}
@media only screen and (max-width: 480px) {
    footer .phone {
        display: inline-block;
        float: right;
        right: 5px;
        position: relative;
    }
}
@media only screen and (max-width: 480px) {
    footer .phone {
        display: inline-block;
        float: right;
        right: 5px;
        position: relative;
    }
}
@media only screen and (max-width: 1360px) {
    .copy,
    .phone {
        float: left;
        font-size: 15px;
        font-family: tahoma;
        top: -20px;
        color: #fff;
    }
}
@media only screen and (max-width: 1024px) {
    .copy,
    .phone {
        float: left;
        font-size: 15px;
        font-family: tahoma;
        top: -20px;
        color: #fff;
    }
}
@media only screen and (max-width: 768px) {
    .copy,
    .phone {
        float: left;
        font-size: 15px;
        font-family: tahoma;
        top: -20px;
        color: #fff;
    }
}
@media only screen and (max-width: 480px) {
    .copy,
    .phone {
        float: left;
        font-size: 15px;
        font-family: tahoma;
        top: -20px;
        color: #fff;
    }
}
@media only screen and (max-width: 480px) {
    .copy,
    .phone {
        float: left;
        font-size: 15px;
        font-family: tahoma;
        top: -20px;
        color: #fff;

    }
.car-app-title{
           position: relative;
    text-align: center;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 0px;
    padding-top: 15px;
}
}