body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
    height:75px;
    display: block;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.3s ease-in-out;
    padding-top: 50px;
margin: 0;

}
.is-visible-h1 {
    opacity: 1;
    transform: translateX(0px);
}
.content {
    padding-left: 200px;
    padding-right: 200px;
}
.content article .index-main-p {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.image-under-headings{
    position: relative;
    left: 168px;
}
/* paralax*/

.watch-box {
    position: relative;
height: 400px;
/*background-image: url("assets/bgheader.png");*/
background-color: #202020;
background-attachment: fixed;
background-size: 100% auto;
background-repeat: no-repeat;
overflow: hidden;
box-shadow: inset 5px 5px 20px black;

}
.logo {
    height: 150px;
    width: 100%;
    background-image: url("assets/logo.png");
    background-repeat: no-repeat;
    background-size: 446px 150px;
    background-position: center;
    position: absolute;
    top: 50%;
    margin-top: -75px;
}
.fore-watch {
    width: 600px;
    height: 500px;
    background-image: url("assets/fore-watch2.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    top: 120px;
}
.back-watch {
    width: 500px;
    height: 200px;
    background-image: url("assets/back-watch.png");
    background-repeat: no-repeat;
    position: absolute;
    background-position: top left;
    top: 70px;
    left: 70px;
}
/*Social netwokr*/




/* menu nav bar*/
.main-navigation-parrent{
    text-align: center;
width: auto;
height: 35px;
transition: all 0.5s;
background-color: white;
padding-top: 10px;


}
.main-navigation-parrent-passClass{
    position: fixed;
top: 0;
transition: 0.5s;
z-index: 1;
text-align: center;
width: 863px;



}
.main-navigation{
    border-bottom: solid 1px #838383;

padding-bottom: 10px;
margin: auto;
width: 760px;

    
}
.main-navigation a{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
    margin-left:20px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-bottom: 0px solid transparent;
    transition: 0.4s ease;
    
}
.main-navigation a:hover{
transition: 0.4s ease;
background-color: #e9ecee;
border-bottom: 1px solid black;
}





/* landing ele */

.large-image {
    background-image: url("assets/Parescope1.png");
    background-repeat: no-repeat;
    background-position: top left;
    height: 500px;
    background-attachment: fixed;
    box-shadow: inset 0 0 20px #000;
    margin-top: 40px;
    width: 450px;
    float: left;
}
.watch-details {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    width: 43%;
    position: relative;
    left: 5%;
    float: left;
    display: inline-block;
    top: 60px;
}
.watch-pics {
    height: 700px;
}
.amazing-design {
   
    width: 100%;
    position: relative;
    height: 550px;
}
figure {
    width: 200px;
    float: left;
    border: 1px solid #e1e1e1;
    opacity: 0;
    height: 340px;
    margin-bottom: 30px;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.price-figure{
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20px;
    background: transparent;
    color: #3c3c3c;
    width: 180px;
    position: absolute;
    bottom: 0;
    text-align:left;
    left: -103%;
    box-shadow: 0 0 5px #000;
}
.price-figure span{
color:#8e1d1d;
}
.price-slide-on-hover {
    
    transition: all 0.4 ease-in-out;
}
.title-figure{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: white;
    color: #2e2e2e;
    width: 100%;
    box-shadow: 0 0 5px #000;
    position: absolute;
    top: 0;
}
.watches {
    width: 200px;
    height: 270px;
    position:relative;
    top: 40px;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    opacity: 0.9;
}
.watch1:hover,
.watch2:hover,
.watch3:hover,
.watch4:hover,
.watch5:hover,
.watch6:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.is-showing {
    opacity: 1;
    transform: translateX(0px);
}
figure:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #575353;
}


/*test for icons
*/


.social-networks {
    position: absolute;
    right: 10px;
    position: fixed;
    top: 10px;
    z-index: 2;
}
.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    padding-left: 20px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}


.span1,
.span2,
.span3,
.span4,
.heading-large-watch{
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.3s ease-in-out;


} 
.is-showing-span{
    opacity: 1;
    transform: translateX(0px);
}
.watch-details img { 
display: block;
margin-left: 30px;
}

.heading-large-watch{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    margin-left:30px; 
  
}
.second-h-l-i{
    margin-left:80px;
}


.learn-more-1 {
width: 150px;
height: 50px;
background-color: white;
text-align: center;
color: #316592;
position: relative;
top: 15px;
left: 80px;
border: 2px solid #316592;
font-family: 'Josefin Sans', sans-serif;
font-size: 18px;
cursor: pointer;


} 
.learn-more-1:hover{
	background-color: #316592;
transition : 0.3s;
color: white;
}



hr.style2 {
	border-top: 3px double #8c8b8b;
}

.second-large-image{
	background-image: url("assets/Parescope2.png");
    background-repeat: no-repeat;
    background-position: top right;
    height: 500px;
    background-attachment: fixed;
    box-shadow: inset 0 0 20px #000;
    margin-top: 40px;
    width: 450px;
    float: left;
    position: relative;
	left: 70px;

}
.third-large-image{
	background-image: url("assets/Parescope3.png");
    background-repeat: no-repeat;
    background-position: top left;
    height: 500px;
    background-attachment: fixed;
    box-shadow: inset 0 0 20px #000;
    margin-top: 40px;
    width: 450px;
    float: left;
    
	

}
/*
#d2af91
promqna na butona za 2 chasovnik parescope v tozi cvqt 


*/

.learn-more-2 {
width: 150px;
height: 50px;
background-color: white;
text-align: center;
color: #906240;
position: relative;
top: 15px;
left: 80px;
border: 2px solid #906240;
font-family: 'Josefin Sans', sans-serif;
font-size: 18px;
cursor: pointer;
transition : 0.3s;


} 
.learn-more-2:hover{
	background-color: #906240;
transition : 0.3s;
color: white;
}


.learn-more-3 {
width: 150px;
height: 50px;
background-color: white;
text-align: center;
color: #3f0406;
position: relative;
top: 15px;
left: 80px;
border: 2px solid #3f0406;
font-family: arial;
font-family: 'Josefin Sans', sans-serif;
font-size: 18px;
transition : 0.3s;


} 
.learn-more-3:hover{
	background-color: #3f0406;
transition : 0.3s;
color: white;
}














































/* CSS 4 BRANDS.PAGE*/

.brands-watch-box{
    height: 150px;
    background-color: #202020;
}


.brands-page-logo{
    width: auto;
    height: 90px;
    position: absolute;
    left: 30px;
    top: 25px;

}
.brands-header-quote{
    position: absolute;
    width: 500px;
    height: 110px;
    top: 20px;
    left: 400px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 15px;
}

.brands-title{
display: block;
width: auto;
height: auto;
font-size: 75px;
font-family: 'Roboto', sans-serif;
margin-top: 30px;
text-align: center;
margin-bottom: 30px;
}

.brands-picker{
    display: block;
    height: 300px;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;    
}
.brands-alphabet{
    background-color: #675555;
    width: 300px;
    margin-top: 0;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
    padding: 20px;
}



.brand-leater-a{
    background-color: #675555;
    width: 40px;
    height: 32px;
    font-size: 20px;
    float: left;
    font-family: arial;
    margin-right: 10px;
    margin-bottom: 12px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding-top: 8px;
    color: white;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    transition:0.3s;

}
.brand-leater-all-brands:hover, .brand-leater-a:hover{
   background-color: #f0e6e6;
   color:  #675555;
   transition:0.3s;
   
}
.brand-leater-active{
    background-color: #f0e6e6;
   color:  #675555;
   transition:0.3s;
}
.brand-leater-all-brands{
    background-color: #675555;
    width: auto;
    height: 32px;
    width: 130px;
    padding-top: 8px;
    font-size: 20px;
    float: left;
    font-family: arial;
    margin-right: 10px;
    margin-bottom: 12px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: white;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

}













/*Imenata na markite  */








.brands-names{
     background-color: #f2f2f2;
    width: 460px;
    height: 280px;
    float: left;
    border-radius: 5px;
    padding-top: 20px;
}

.brands-colum{
    width: 140px;
    height: auto;
    margin-right: 20px; 
    list-style: none;
    float: left;
}
.brand-colus-a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #302e2e;
    margin-bottom: 10px;
}
.brand-colus-a:hover{
text-decoration: underline;
color: #000;
}




/* Wood like filter */

.brands-interactive-filter-main-parent{
    text-align: center;
}
.brand-filter-p{
display: block;
width: auto;
height: auto;
font-size: 50px;
font-family: 'Roboto', sans-serif;
margin-top: 30px;
text-align: center;
margin-bottom: 30px;
opacity: 0;

transition: all 0.4s ease-in-out; 
}
.brand-filter-p-is-visible{
opacity: 1;
}

.filter-btn{
position: relative;
display: inline-block;
font-size: 30px;
text-align: center;
background-color: #675555;
width: 250px;
height: 60px;
border: none;
color: #f0e6e6;
cursor: pointer;
outline: none;
font-family: 'Roboto', sans-serif;
border-radius: 2px;
 
}
.filter-btn-active{
    background-color: #2f2424;
}
.fm-filter-btn,.s-filter-btn{
    margin-left: 10px;
    transform: translateX(35px);
    opacity: 0;
transition: all 0.4s ease-in-out; 
}
.m-filter-btn,.c-filter-btn{
    margin-right: 10px;
    transform: translateX(-35px);
    opacity: 0;
transition: all 0.4s ease-in-out; 
}

.filter-btn-is-visible{
    transform: translateX(0px);
    opacity: 1;
}

.brand-filter-sty,
.brand-filter-mat{
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-align: center;
      background-color: #675555;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    color:  #f0e6e6;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    margin:10px;
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.brand-filter-mat{
    transform: translateX(20px);
    opacity: 0;
}

.brand-filter-sty-mat-is-visible{
     transform: translateX(0px);
    opacity: 1;
}
.brand-filter-sty:hover,
.brand-filter-mat:hover{
    background-color: #493838;
    transition:0.4s;
}
/*
.brand-filter-sty:focus{
background-color: #2f2424;
}*/
.brand-filter-sty-active{
background-color: #2f2424;
}
.brand-filter-mat-active{
background-color: #2f2424;
}
.filter-btn:hover{
    background-color: #493838;
    transition:0.4s;
}




/*Colors*/

.brand-filter-colors{
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    width: 420px;
    height: 90px;
    border-radius: 3px;
    background-color: gray;
    margin-right: 50px;
    margin-left: 50px;
    border: none;
    overflow: hidden;
    outline: none;
    opacity: 0;
    transition:0.5s;
}
.brand-filter-colors-is-visible{
    opacity: 1;

}
.brand-filter-first-colors{
    width: 70px;
    height: 30px;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    
}
.brand-filter-first-colors:hover{
    border: 2px dotted black;
}

.brand-filter-first-colors-active{
    border: 2px solid black;
}



.brand-color-wraper{
    display: block;
    text-align: center;
    margin-bottom: 100px;
}
/*Cherno i bqlo*/
.first-to-first{
    background-color: #ffffff;
}
.first-to-second{
     background-color: #e4e4e4;
}
.first-to-third{
     background-color: #9e9d9d;
}
.first-to-fourth{
     background-color: #646464;
}
.first-to-fift{
     background-color: #3d3d3d;
}
.first-to-sixt{
     background-color: #000000;
}

/*cherveno*/

.second-to-first{
    background-color: #fee844;
}
.second-to-second{
     background-color: #f9aa1f;
}
.second-to-third{
     background-color: #f96b1f;
}
.second-to-fourth{
     background-color: #fc300c;
}
.second-to-fift{
     background-color:  #900C3F ;
}
.second-to-sixt{
     background-color:  #581845 ;
}

/*Julto*/

.third-to-first{
    background-color: #247137;
}
.third-to-second{
     background-color: #38bc21;
}
.third-to-third{
     background-color: #2ee67a;
}
.third-to-fourth{
     background-color: #32f2f2;
}
.third-to-fift{
     background-color: #22c5cf;
}
.third-to-sixt{
     background-color: #1c6caf;
}


/*SPANS*/
.filter-btn div{
   font-size: 14px;
   margin: -5px; 
   
}



/* HIstory page */

.main-react-div{
    margin-top: 50px;
}

.history-main-p{
margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.history-main-p-react{
    height: 400px;
}
.passage-p{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

}
.history-year-btn-wraper{
    text-align: center;
}
.history-year-btn{
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background-color: #675555;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    color:  #f0e6e6;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    margin:10px;
    transition:0.4s;
    opacity: 0;
    transform: translateY(-20px);
    
}
.history-year-btn-visible{
    opacity: 1;
    transform: translateY(0px);
}
.history-year-btn:hover{
    background-color: #493838;
    transition:0.4s;
}
.history-year-btn-active{
    background-color: #2f2424;
    box-shadow: 0 2px 5px -3px black;
}


.history-brands-title{
    display: block;
width: auto;
height: auto;
font-size: 75px;
font-family: 'Roboto', sans-serif;
margin-top: 30px;
text-align: center;
margin-bottom: -15px;
}


.footer{
    background-color: #493838;
    height: 250px;
    margin: 0;
    width: 100%;
    border-top: 6px solid salmon;
    text-align: center;

}

.footer-navigation-div{
    position: absolute;
float: left;
display: inline-block;
left: 40px;
width: 200px;
height: auto;

}

.footer-navigation-p{
    font-size: 20px;
    color: #fba59b;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}
.footer-navigation-div li{
    text-align: left;
}
.footer-navigation-div li,
.footer-about-me-div li{
    margin-bottom: 6px;
    list-style: none;
}
.footer-navigation-div li a{
    text-decoration: none;
    font-size: 15px;
    color: salmon;
      font-family: 'Open Sans', sans-serif;
}




.footer-about-me-div{
position: absolute;
float: right;
display: inline-block;
right: 40px;
width: 200px;
height: auto;
}
.footer-about-me-div ul {
    padding-left: 0;
padding-right: 60px;

}
.footer-about-me-div li{
    text-align: right;
}
.footer-about-me-div li a{
    text-decoration: none;
    font-size: 15px;
    color: salmon;
    text-align: right;
      font-family: 'Open Sans', sans-serif;
}

.footer a:hover {
    text-decoration:underline;
}





.footer-middle{
    display: inline-block;
    float: none;
    margin-top: 40px;
    width: auto;
    height: auto;
}
.footer-site-logo{
    width: auto;
    height: 110px;
}
.footer-my-logo{
    width: 50px;
    height: 50px;
}
.footer-middle p{
    font-size: 17px;
    color: salmon;
    
    font-family: 'Open Sans', sans-serif;
}
