$mainFont: 'arial';
$mainTextcolor: red;
$secondTextcolor: blue;

body{
	margin: 0;
	padding:0;
}

.ptest{
	font:80% $mainFont;
	color: $mainTextcolor;
	font-size: 80px;
	a{
		color: $secondTextcolor;
	}
}